head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  link(rel='stylesheet' href='stylesheets/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='javascripts/underscore.js')
  script(src='javascripts/todo.js')
h1 To Do List
#all
  .tabs
    button.allTodo.btn.btn-primary.active All
    button.activeTodo.btn.btn-primary Active
    button.completeTodo.btn.btn-primary Complete
  #inputTodo.input-group-mb-3
    .input-group-prepend
      .input-group-text
        input#toggle-all.radio(type='checkbox')
        label(for='toggle-all')
        input#in.form-control(type='text')
        button#add.btn.btn-primary Add
  hr
  ul#out
  .pagtabs
    nav.pagi(aria-label='')
      ul#pagination.pagination.pagination-sm
  #counters
    button.clear-completed.btn.btn-primary counters
  button.clear-completed.btn.btn-primary Clear Completed
