body {
  min-height: 300px;
  max-height: 360px;
  font : 14px sans-serif;
  background : #f5f5f5;
  min-width: 230px;
  max-width: 550px;
  margin: 50px auto;
  border:1px solid;
  padding: 4px 4px 4px 4px;
}

li span.true{
  text-decoration: line-through;
}
.hide {
  display: none;
}
.filters{
  right:0;
  left:0;
}

h1 {
  text-align: center;
}

#all {

}
#tabs {
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 10px;
}
#in {
  width: 442px;
  height: 38px;
}
.clear-completed{

}

ul#out li{
  list-style-type: none;
  display:flex;
  margin-left: -15px;
}

.tabs{
  margin-left: 170px;
  margin-bottom: 4px;
}

.input-group-text {
  max-width: 535px;
  word-wrap: break-word;
}

span{
  word-wrap: break-word;
  min-width: 450px;
  max-width: 453px;
}
ul#pagination{
  margin-left: 2px;
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
}
li.page-item{
  width: 30px;
}
#add{
  margin-left: 4px;
}
#toggle-all {
  margin-right: 2px;
}
input{
  max-width: 453px;
}
.toggle{
  margin-right: 3px;
  margin-top: 12px;
}
li {
  margin-top: 5px;
}

button.delete{
  margin-left: 5px;
}

